body
{
   margin: 0;
   padding: 0;
   background-color: #DCDCDC;
   color: #000000;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-size: 32px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
#Layer1
{
   background-color: transparent;
   background-image: url(../images/Fotolia_32743828_S_172.jpg);
   background-repeat: no-repeat;
   background-position: center top;
}
#Image2
{
   border: 0px #000000 solid;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: right;
}
#wb_Text1 div
{
   text-align: right;
}
#Image13
{
   border: 0px #000000 solid;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_uid1
{
   color: #ffffff;
   font-family: bookman old style;
   font-size: 13px;
}
#wb_uid2
{
   color: #808080;
   font-family: Trebuchet MS;
   font-size: 21px;
}
#wb_Text1
{
   position: absolute;
   left: 223px;
   top: 1351px;
   width: 243px;
   height: 40px;
   text-align: right;
   z-index: 4;
}
#wb_Text2
{
   position: absolute;
   left: 55px;
   top: 120px;
   width: 359px;
   height: 50px;
   z-index: 8;
   text-align: left;
}
#wb_uid3
{
   color: #2F4F4F;
   font-family: Trebuchet MS;
   font-size: 32px;
}
#wb_uid4
{
   color: #000000;
   font-family: Trebuchet MS;
   font-size: 13px;
}
#wb_Text3
{
   position: absolute;
   left: 34px;
   top: 815px;
   width: 625px;
   height: 18px;
   z-index: 6;
   text-align: left;
}
#wb_Image13
{
   position: absolute;
   left: 0px;
   top: 44px;
   width: 1px;
   height: 274px;
   filter: alpha(opacity=40);
   -moz-opacity: 0.40;
   opacity: 0.40;
   z-index: 5;
}
#wb_uid5
{
   color: #8B4513;
   font-family: Verdana;
   font-size: 15px;
}
#wb_Text4
{
   position: absolute;
   left: 72px;
   top: 91px;
   width: 215px;
   height: 18px;
   z-index: 7;
   text-align: left;
}
#wb_Image2
{
   position: absolute;
   left: 72px;
   top: 37px;
   width: 213px;
   height: 45px;
   z-index: 2;
}
#Layer1
{
   position: absolute;
   text-align: left;
   left: 72px;
   top: 227px;
   width: 851px;
   height: 570px;
   z-index: 1;
}
#wb_Text5
{
   position: absolute;
   left: 96px;
   top: 192px;
   width: 119px;
   height: 16px;
   z-index: 9;
   text-align: left;
}
#wb_uid6
{
   color: #8B4513;
   font-family: Tahoma;
   font-size: 21px;
}
#Image13
{
   width: 1px;
   height: 274px;
}
#wb_Text6
{
   position: absolute;
   left: 380px;
   top: 192px;
   width: 114px;
   height: 16px;
   z-index: 10;
   text-align: left;
}
#wb_uid7
{
   color: #000000;
   font-family: Verdana;
   font-size: 13px;
}
#wb_Text7
{
   position: absolute;
   left: 504px;
   top: 192px;
   width: 85px;
   height: 16px;
   z-index: 11;
   text-align: left;
}
#wb_uid8
{
   color: #000000;
   font-family: Verdana;
   font-size: 13px;
}
#wb_Text10
{
   position: absolute;
   left: 670px;
   top: 191px;
   width: 79px;
   height: 16px;
   z-index: 14;
   text-align: left;
}
#wb_uid10
{
   color: #000000;
   font-family: Verdana;
   font-size: 13px;
}
#wb_Text8
{
   position: absolute;
   left: 225px;
   top: 192px;
   width: 151px;
   height: 16px;
   z-index: 12;
   text-align: left;
}
#wb_uid9
{
   color: #000000;
   font-family: Verdana;
   font-size: 13px;
}
#Image2
{
   width: 213px;
   height: 45px;
}
#wb_uid11
{
   color: #000000;
   font-family: Verdana;
   font-size: 13px;
}
#wb_Text9
{
   position: absolute;
   left: 599px;
   top: 192px;
   width: 56px;
   height: 16px;
   z-index: 13;
   text-align: left;
}
#wb_Text11
{
   position: absolute;
   left: 29%;
   top: 1%;
   width: 69%;
   height: 28%;
   z-index: 0;
   text-align: left;
}
#wb_Text12
{
   position: absolute;
   left: 656px;
   top: 38px;
   width: 363px;
   height: 52px;
   z-index: 15;
   text-align: left;
}
#wb_uid12
{
   color: #000000;
   font-family: Verdana;
   font-size: 13px;
}
#wb_Text13
{
   position: absolute;
   left: 759px;
   top: 192px;
   width: 112px;
   height: 32px;
   z-index: 16;
   text-align: left;
}
#wb_uid13
{
   color: #8B4513;
   font-family: Tahoma;
   font-size: 29px;
}
#wb_uid14
{
   color: #8B4513;
   font-family: Tahoma;
   font-size: 43px;
}
#wb_uid15
{
   color: #0066CC;
   font-family: Verdana;
   font-size: 13px;
}
#wb_uid0
{
   color: #ffffff;
   font-family: trebuchet ms;
   font-size: 13px;
}
