body
{
   margin: 0;
   padding: 0;
   background-color: #FFFFFF;
   color: #000000;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#Image1
{
   border: 0px #000000 solid;
}
#wb_uid1
{
   color: #444C4F;
   font-family: Trebuchet MS;
   font-size: 13px;
}
#wb_Image1
{
   position: absolute;
   left: 74px;
   top: 0px;
   width: 128px;
   height: 128px;
   z-index: 3;
}
#Image1
{
   width: 128px;
   height: 128px;
}
#wb_Text11
{
   position: absolute;
   left: 0px;
   top: 160px;
   width: 282px;
   height: 24px;
   text-align: center;
   z-index: 1;
}
#wb_Text12
{
   position: absolute;
   left: 13px;
   top: 201px;
   width: 260px;
   height: 90px;
   text-align: center;
   z-index: 2;
}
#wb_uid0
{
   color: #444C4F;
   font-family: Trebuchet MS;
   font-size: 19px;
}
#wb_Text10
{
text-shadow: 1px 1px #ffffff;
}
#wb_Text10
{
text-shadow: 1px 1px #ffffff;
}
